:root {
  font-family: 'Open Sans', sans-serif;

  /* Colors */
  --primary-blue: #015fbf;
  --primary-blue-faint: rgba(1, 95, 191, 0.1);
  --gray: #6c757d;
  --green: #198754;
  --red: #dc3545;
  --yellow: #ffc107;
  --light-blue: #0dcaf0;

  /* Levels */
  --debug: var(--gray);
  --info: var(--light-blue);
  --warn: var(--yellow);
  --error: var(--red);
}

body {
  height: 100%;
  height: 100dvh;
  margin: 0;
}

h1 {
  margin: 0;
}

/* Color classes */
.primary-blue {
  color: var(--primary-blue);
}

/* element classes */
.service-name {
  font-weight: normal;
  color: var(--primary-blue);
}

.error {
  color: var(--error);
}

.bold {
  font-weight: bold;
}
